[Unit]
Description=MCRCON Bot
After=network.target

[Service]
Environment="TOKEN=6944699555:AAEjRWsPwmnghUrOPMbXG02Jdp2XusWkVLM" SERVER_IP=127.0.0.1 PASSWORD="
Type=simple
ExecStart=<path-to-venv>/bin/python anecdot_bot.py
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target