[Unit]
Description=MCRCON Bot
After=network.target

[Service]
Environment="TOKEN= SERVER_IP=127.0.0.1 RCON_PASSWORD="
Type=simple
ExecStart=/home/dmitry/minexraftelebot/.venv/bin/python /home/dmitry/minexraftelebot/main.py
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target